.work {
  .project {
    display: table;
    border: 1px solid $white;
    width: 100%;
    color: $white;
    text-align: center;

    @media (min-width: 65em) {
      float: left;
      width: 50%;
    }

    a {
      padding: .25rem;
      border: 1px solid $white;
      color: $white;
    }

    .inner {
      display: table-cell;
      position: relative;
      text-align: center;
      vertical-align: middle;
    }
  }
}
