---
layout: default
title: "[object Object]"
permalink: /
---

{% include sections.html %}

<section class="work">
  {% assign works = (site.work | sort: 'date') %}
  {% for work in works reversed %}
    <div id="{{ work.title | downcase | replace: ' ', '-' }}" class="project">
      <div class="inner">
        <h2>{{ work.title }}</h2>
        <p>{{ work.content }}</p>
        {% if work.project and work.cta %}
          <p><a href="{{ work.project }}" class="hover-link">{{ work.cta }}</a></p>
        {% endif %}
      </div>
      <div class="project-image" style="background-image: url('/assets/work/{{ work.image }}')"></div>
    </div>
  {% endfor %}
</section>
