<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link inline rel="stylesheet" type="text/css" href="/css/main.css">
  <link inline rel="stylesheet" type="text/css" href="/css/work-bg-images.css">
  <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">

  <title>{{ site.title }} | {{ page.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site. description }}{% endif %}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}Paul Molluzzo is a web creative specializing in consumer web &amp; e-commerce.{% endif %}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.url }}">

  <meta property="og:title" content="{{ site.title }} | {{ page.title }}"/>
  <meta property="og:image" content="/assets/meta-robot.png"/>
  <meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site. description }}{% endif %}"/>
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.url }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@paulmolluzzo">
  <meta name="twitter:title" content="{{ site.title }} | {{ page.title }}">
  <meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site. description }}{% endif %}">
  <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | replace:'/','' | prepend: site.url }}">

  <meta name="author" content="Paul Molluzzo">
  <meta name="Copyright" content="Paul Molluzzo {{ site.time | date: '%Y' }}. All Rights Reserved.">
</head>
