.blog {
  margin: 20px auto 0;
}

.blog-post {
  margin: 0 auto;
  max-width: 40rem;

  h1 {
    display: inline-flex;
    background-color: $orange;
  }

  article {
    background: $white;


    p,
    li {
      color: $black;
    }

    img {
      width: auto;
      margin: 0 auto;
    }
  }
}

.post-list {

  padding-left: 10px;

  h3 {
    font-size: 1rem;
  }

  li {
    display: block;
    list-style-type: none;
    margin-top: 1.5rem;

    a {
      border: 1px solid $orange;
      border-right: none;
      border-bottom: none;
      box-shadow: 5px 5px 0 0 $orange, 10px 10px 0 0 $red;
      padding: .25rem;

      &:hover {
        transition: all 0.1s linear;
        border-width: 5px;
        box-shadow: 10px 10px 0 0 $aqua, 20px 20px 0 0 $navy;
      }
    }
  }
}
