.blog {
  margin: 20px auto 0;
}

.blog-post {
  background-color: $white;
  margin: 0 auto;
  padding: 1rem 0;

  .blog-meta,
  article {
    width: 90%;
    max-width: 40rem;
    margin: 0 auto;
  }

  h1 {
    span {
      background-color: $orange;
      color: $white;
      line-height: 1.5;
      padding: 0 .25rem;
    }
  }

  article {
    background: $white;

    p,
    li {
      color: $black;
    }

    img {
      width: auto;
      margin: 0 auto;
    }
  }
}

.post-list {
  padding-left: 1.1rem;

  h3 {
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }

  li {
    display: block;
    list-style-type: none;
    margin-top: 1.5rem;

    a {
      @extend .hover-link;
      padding: .25rem;
    }
  }
}
