.video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  overflow-y: hidden;
  z-index: -1;
  filter: hue-rotate(-35deg) saturate(3);

  video {
    margin-top: -20%;
    min-width: 100%;
    overflow: hidden;
  }

  .wiggle {
    position: absolute;
    width: 100%;
    height: 30%;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB4bWxuczpldj0naHR0cDovL3d3dy53My5vcmcvMjAwMS94bWwtZXZlbnRzJyB2aWV3Qm94PScwIDAgNCAyMCc+ICA8cGF0aCBmaWxsPSdub25lJyBzdHJva2U9JyNmZmYnIHN0cm9rZS13aWR0aD0nMScgZD0nTS41LDAgYyAwLDUsMyw1LDMsMTAgcyAtMyw1LC0zLDEwIGMgMCw1LDMsNSwzLDEwIHMgLTMsNSwtMywxMCcvPjwvc3ZnPg==);
    background-repeat: repeat;
    background-size: 40px 100px;
    animation-name: wiggle;
    animation-duration: .1s;
    animation-timing-function: linear;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 0.04;
  }
}

@keyframes wiggle {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 20px -50px;
  }
}
